
/* Style cho các nút (Button) */
.button {
    -fx-background-color: linear-gradient(to bottom, #e78300, #d96925); /* Hiệu ứng gradient */
    -fx-text-fill: white; /* Màu chữ trắng */
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-background-radius: 12px;
    -fx-border-color: #cccccc;
    -fx-border-radius: 12px;
    -fx-border-width: 2px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0, 0, 2); /* Đổ bóng nhẹ */
    -fx-padding: 10px 20px;
    -fx-cursor: hand;
}

/* Hiệu ứng hover cho nút */
.button:hover {
    -fx-background-color: linear-gradient(to bottom, #d96925, #c7571c); /* Gradient đậm hơn */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 10, 0, 0, 3); /* Đổ bóng mạnh hơn */
    -fx-border-color: #bfbfbf;
}

/* Hiệu ứng nhấn */
.button:pressed {
    -fx-background-color: #c7571c;
    -fx-effect: none;
    -fx-translate-y: 2px;
}


