/* Style cho AnchorPane chứa GridPane */
.anchor-pane {
    -fx-background-radius: 10px; /* Bo góc AnchorPane */
    -fx-background-color: linear-gradient(to bottom, #ffffff, #f0f8ff);; /* Background color */
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.3), 10, 0, 0, 5); /* Đổ bóng nổi khối */
    -fx-padding: 10px;
}

/* Style cho GridPane bên trong AnchorPane */
.grid-pane {
    -fx-background-radius: 10px;
}

.grid-pane .text {
    -fx-font-size: 14px;
    -fx-padding: 5px;
}
